{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
    <link rel="stylesheet" href="{% static 'css/logs.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- main css -->
    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
    <header class="">
        <nav class="navbar bg-dark border-bottom sticky-top border-body">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="/">Skin Detection</a>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/detection/logs">Logs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="help">Help</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="w-50 p-3 h-100 d-inline-block">
            <h1 class="ps-3">Job ids</h1>
            <ul>
                {% for x in dat %}
                <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" 
                    href="result/{{x}}">
                    {{x}}</a></li>
                {% endfor %}
            </ul>
        </div>
        
    </main>
</body>
</html>